body {
    margin: 0;
    background: pink;
    text-align: center;
}

.three-sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100vh;
}

.left-container,
.center-container,
.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
